body{

background-image: url(back.jpg);

margin:0px;
}

td{
    width: 1000px;
    
}

.d2{

    align-items: center;
    display: flex;
    justify-content: center;

}

.welcome{
border-color: black;
border: 6px solid;
margin: 20px;
height: 600px;
width: 600px;
text-align: center;
letter-spacing: 10px;
display: flex;
align-content: space-between;
flex-direction: column;
}

.welcomejp{
    border-color: black;
    border: 6px solid;
    margin: 20px;
    height: 600px;
    width: 600px;
    text-align: center;
    letter-spacing: 10px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    float: right;
    }

.content{
    display: flex;
    flex-direction: row;
}
