body{
background-image: url(/img/logo1.png);
color: #C06964;
}

.helo{
    text-align: center;
    height: 1000px;
    width: 1000px;
    margin: 400px;
}


.context1{

    background-color:#FFF1DD; 
    align-items: center;
    justify-content: center;
    display: flex;
}

